@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  font-family: 'Lato', sans-serif !important;
}

.glass-bg-dark {
  background: rgba(0, 0, 0, 0.73);
    /* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); */
    backdrop-filter: blur(10.9px);
    -webkit-backdrop-filter: blur(10.9px);
}

::-webkit-scrollbar {
  width: 1px;
}

::-webkit-scrollbar-thumb {
  background-color: #88888847;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #5555553e;
}


body {
  scrollbar-width: thin;
  scrollbar-color: #888 #f0f0f0;
}

body:hover {
  scrollbar-color: #555 #f0f0f0;
}

body:active {
  scrollbar-color: #333 #f0f0f0;
}

.bottom-gradient {
  background: rgb(107, 250, 167);
  background: linear-gradient(180deg, rgba(107, 128, 250, 0) 0%, rgba(0, 0, 0, 0.9164040616246498) 100%);
}

.smooth-transition {
  transition: 0.3s ease;
}